head
  title Thermocular
  link(rel="stylesheet", href="/stylesheets/style.css")
  meta(charset='UTF-8')
  meta(name='viewport', content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  title Welcome to Thermocular

  script(src="http://codeorigin.jquery.com/jquery-1.10.2.js")
  // Latest compiled and minified JavaScript 
  script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js')

  // Angular js
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.min.js')

  //Latest compiled and minified CSS 
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')

  //Optional theme 
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css')


  
